/* Primitive Colors */
$primary: #1CABE2;
$first-color: #76cced;
$first-color-backup: #1CABE2;
$second-color-backup: transparent;
$second-color: #FEFEFE;
$third-color:  #0d6e3e;
$fourth-color: #a4a1c2;


// $confirmed:
// $active:

/* Derived colors */
$button-bg: $primary;
